// Used by jest for test compilation
{
  "presets": [
    [
      "@babel/preset-env",
      {
        // Required for mocking methods
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "^/(.+)": "./src/\\1"
        }
      }
    ]
  ]
}
